/*banner background img */
 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap'); 
body{
    font-family: "Azeret Mono", monospace;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;

}
.banner-container{
    max-width: 1440px;
    height: 652px;
    margin-bottom: 74px;
    background-image: url(../assets/Hero-bg.png);
}

.image{
    margin: 18px 378px 18px 378px;
}

.banner-content{
    width: 998px;
    margin: 0 auto;
    height: 582px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
} 

.banner-title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 24px;
    
}
p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.btn-primary{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 190px;
    height: 65px;
    font-size: 15px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    margin: 15px 395px 10px 395px;
}

/* Web development section */
.web-development-section{
    max-width: 1140px;
    margin: 0 auto;
    height: 1395px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-development-content{
    max-width: 946px;
    margin: 0 auto;
    height: 1235px;

    /* padding: 75px 90px; */
    /* border: 2px solid black; */
}
.title-paragraph{
  max-width: 852px;
  height: 80px;
  /* border: 2px solid red; */
  margin: 0px 47px 40px 47px;
}
.web-development{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.web-development-ans{
    opacity: 0.7;
    
    color: rgb(13, 19, 33);

   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
  letter-spacing: 0%;
   text-align: center;
/* margin: 20px 35px 45px 42px; */
}



.first-section{
    
   /* border: 2px solid green; */
   max-width: 920px;
   margin: 0 auto;
   height: 330px;
   display: flex;
   text-align: center;
   margin-top: 48px;
   box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
   border-radius: 16px;
   background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   
}
.first-section-content{
    width: 50%;
  text-align: left;
  padding: 20px 0 20px 30px;
  
}
 .first-section-content h5{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-left: 0px;
    display: flex;
 }
 .first-section-content p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);

    font-size: 14px;
    font-weight: 390;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
 }
.first-section-btn1{
    border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 32px 327px 0px 0px;
}
.layer-1{
    width: 259px;
    height: 217px;
    margin: 48px 48px 48px 99px;
}
/* 2nd section start */

.second-section-content{
    max-width: 946px;
  height: 336px;
  display: flex;
  text-align: center;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
  margin: 24px 0 24px 0;
  border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.group-3{
  width: 40%;
  text-align: left;
  padding: 20px 0 20px 30px;
}
.second-section-text{
    width: 50%;
  text-align: left;
  padding: 20px 0 20px 30px;
 
}
.second-section-text h5{
    color: rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 680;
}
.second-section-text p{
    color: rgb(13, 19, 33);
   font-size: 16px;
   font-weight: 400;
   opacity: 0.7;
   margin-top: 16px;
   margin-bottom: 32px;
}
.second-section-btn{
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* 3rd section start */
.third-section-content {
   max-width: 946px;
   margin: 0 auto;
   height: 336px;
   display: flex;
   /* flex-direction: column;
   justify-content: center; */
   text-align: center;
   margin-top: 30px;
   box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
   border-radius: 16px;
   background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }
  .third-section-text{
    width: 50%;
  text-align: left;
  padding: 20px 0 20px 30px;
  }
  .third-section-text h5 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-left: 0px;
    display: flex;
  }
  .third-section-text p {
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);

    font-size: 14px;
    font-weight: 390;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
  }
  .third-section-btn {
    border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 32px 327px 0px 0px;
  }
  .group-4{
    width: 259px;
    height: 217px;
    margin: 48px 48px 48px 99px;
  }

  /* My inspiration part */
  .my-inspiration{
    max-width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
   flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 95px;
    /* text-align: center;
    margin: 88px auto 151px auto; */
  }
  .my-inspiration-content h4{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
align-items: center;
  }
  .my-inspiration-content p{
    /* color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 48px; */
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
margin: 24px 144px 48px 150px;
display: flex;
    flex-direction: column;
    justify-content: flex-start;
align-items: center;
  }
  .my-inspiration-link iframe{
    width: 1140px;
    margin: 0 auto;
    height: 600px;
    
    
    border-radius: 16px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
  }

  /* MY Target Section */
  .targets{
    max-width: 1140px;
    margin: 0 auto;
    height: 1444px;
    margin-top: 130px;
    /* display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center; */
  }

  .current-targets{
    max-width: 1140px;
    margin: 0 auto;
    height: 463px;
    
  }
  .target-description{
    max-width: 946px;
    margin: 0 auto;
    height: 115px;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 144px 48px 144px;
  }
  .target-description h4{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .target-description p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
  }
  .skills{
    max-width: 1140px;
    max-width: 0 auto;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
  }
  /* HTML description */
  .html{
    max-width: 364px;
    margin: 0 auto;
    height: 300px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-left: 0px;
  }
  .html-content,.css-content,.js-content{
    max-width: 284px;
    margin: 0 auto;
    height: 220px;
    margin: 40px 40px;
  }
  .html-content img,.css-content-img,.js-content-img{
    width: 56px;
    height: 56px;
  }
  .html-description{
    max-width: 284px;
    margin: 0 auto;
    height: 140px;
  }
  .html-description h5,.css-description h5{
    color: rgb(13, 19, 33);
    
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
  }
  .html-description p{
    margin-bottom: 12px;
  }
  #learn{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
  }
  
  .css{
    max-width: 364px;
    margin: 0 auto;
    height: 300px;
    border-radius: 16px;
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
  }
  .js{
    max-width: 364px;
    margin: 0 auto;
    height: 300px;
    border-radius: 16px;
    border-radius: 16px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
  }
  /* Next target section */
  .next-target{
    max-width: 1140px;
    margin: 0 auto;
    height: 870px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .next-target-contents{
    max-width: 946;
    margin: 0 auto;
    height: 115px;
    margin: 0px 97px 48px 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  body h4{
    max-width: 852px;
    margin: 0 auto;
    height: 39px;
    
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
  }
  .next-target-contents h4{
    
    margin-bottom: 5px;
  }
  .next-target-contents p{
    margin-bottom: 0px;
  }
  .next-target-skills{
    max-width: 1140px;
    margin: 0 auto;
    height: 707px;
  }
  .react,.node,.mongo{
    max-width: 1140px;
    margin: 0 auto;
    height: 220px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  .react-contents,.node-contents,.mongo-contents{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    
    border-radius: 8px;
    
  }
  .react-img{
    max-width: 94.78px;
    margin: 0 auto;
    height: 84.41px;
    margin: 27px 24px 27px 40px;
    /* margin-left: 20px; */

  }
  .react-description,.node-description,.mongo-description{
    max-width: 941px;
    margin: 0 auto;
    height: 140px;
  
  }
  .react-description h5,.node-description h5,.mongo-description h5{
    max-width: 97px;
    margin: 0 auto;
    height: 36px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-left: 5px;
  }
  .node-img{
    max-width: 143px;
    margin: 0 auto;
    height: 87px;
    margin: 26px 24px 26px 40px;
  }
  .mongo-img{
    max-width: 108px;
    margin: 0 auto;
    height: 108px;
    margin: 16px 24px 16px 40px;
  }

  /* Support Section */
  .support{
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    max-width: 1140px;
    margin: 0 auto;
    height: 314px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 48px 64px 48px;
  }
  .support-contents{
    max-width: 1044px;
    margin: 0 auto;
    height: 186px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin-top: 0px; */
    margin: 60px 0px;
    margin-left: 160px;
  }
  .support-contents h2{
    max-width: 320px;
    margin: 0 auto;
    height: 36px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
  }
  .support-contents p{
    max-width: 606px;
    margin: 0 auto;
    height: 52px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16px 62px 24px 62px;
  }
  .support-form{
    max-width: 684px;
    margin: 0 auto;
    height: 58px;
    /* margin: 24px 180px 0px 180px; */
  }
  .support-form input{
    
    box-sizing: border-box;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    /* padding-left: 20px;
    padding-right: 80px; */ 
    width: 548px;
    height: 57px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-left: 20px;
  }
  .support-form button{
    max-width: 120px;
    margin: 0 auto;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    border-radius: 8px;

background: rgb(255, 255, 255);
  }
  /* Footer contents */
  .footer-contents{
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
  
    margin: 111px 150px 32px 150px;
    align-items: center;
  }
  .footer-contents p{
    max-width: 456px;
    margin: 0 auto;
    height: 24px;
    
    margin-left: 0px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
  }
  .footer-contents{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px 32px 150px;
  }
  